# <br><br><span style="color:rebeccapurple">Preprocessing</span>

Raw data can take on any range of values. By preprocessing data, we make it easier to interpret and use.

In [1]:
import numpy as np
import pandas as pd

# <br><span style="color:purple"> Overview of data

In [75]:
## Import data
df = pd.read_csv('datasets/airfoil_self_noise.csv')
labels = df.columns
## Take a peak at the dataset
df.head()

   frequency  angle  chord_len  velocity  thickness  sound_pressure
0      800.0    0.0     0.3048      71.3   0.002663         126.201
1     1000.0    0.0     0.3048      71.3   0.002663         125.201
2     1250.0    0.0     0.3048      71.3   0.002663         125.951
3     1600.0    0.0     0.3048      71.3   0.002663         127.591
4     2000.0    0.0     0.3048      71.3   0.002663         127.461

The most common type of data in machine learning is tabular data as shown above. We will work with tabular data throughout this workshop. 

In tabular data, we have
- columns: contain data of a single type. We refer to the type of data in each column as a feature/attribute. 
- rows: contain a set of observations. We refer to each row as a sample/instance.

In (supervised) machine learning, we also have
- predictors: the input data of the algorithm or the independent variables in statistical perspective
- response/target: the output of the algorithm or the dependent variables in statistical perspective

# <br><span style="color:purple"> Numerical data

In [67]:
## Get a summary of the dataset
df.describe()

,frequency,angle,chord_len,velocity,thickness,sound_pressure
count,1503.000000,1503.000000,1503.000000,1503.000000,1503.000000,1503.000000
mean,2886.380572,6.782302,0.136548,50.860745,0.011140,124.835943
std,3152.573137,5.918128,0.093541,15.572784,0.013150,6.898657
min,200.000000,0.000000,0.025400,31.700000,0.000401,103.380000
25%,800.000000,2.000000,0.050800,39.600000,0.002535,120.191000
50%,1600.000000,5.400000,0.101600,39.600000,0.004957,125.721000
75%,4000.000000,9.900000,0.228600,71.300000,0.015576,129.995500
max,20000.000000,22.200000,0.304800,71.300000,0.058411,140.987000

## <br><span style="color:teal"> Standardization

This is the process of converting data into the standard format where each feature has zero mean and unit variance (i.e., std=1).

In [68]:
from sklearn.preprocessing import StandardScaler

Compute the mean and std to be used for later scaling.

In [69]:
scaler = StandardScaler().fit(df)

In [70]:
# print(scaler.mean_)
# print(scaler.scale_)

Perform standardization by centering and scaling.

In [71]:
my_array_scaled = scaler.transform(df)

The two methods above can be combined using the fit_transform method

In [72]:
my_array_scaled = StandardScaler().fit_transform(df)

In [73]:
df_scaled = pd.DataFrame(my_array_scaled, columns = labels)
df_scaled.describe()

,frequency,angle,chord_len,velocity,thickness,sound_pressure
count,1.503000e+03,1.503000e+03,1.503000e+03,1.503000e+03,1.503000e+03,1.503000e+03
mean,2.837975e-16,-3.495393e-16,-1.624759e-14,-8.558246e-16,4.615219e-16,-2.871068e-15
std,1.000333e+00,1.000333e+00,1.000333e+00,1.000333e+00,1.000333e+00,1.000333e+00
min,-8.524068e-01,-1.146403e+00,-1.188629e+00,-1.230809e+00,-8.169263e-01,-3.111198e+00
25%,-6.620227e-01,-8.083458e-01,-9.169992e-01,-7.233448e-01,-6.545613e-01,-6.735353e-01
50%,-4.081773e-01,-2.336486e-01,-3.737395e-01,-7.233448e-01,-4.702979e-01,1.283368e-01
75%,3.533590e-01,5.269801e-01,9.844097e-01,1.312935e+00,3.374462e-01,7.481565e-01
max,5.430267e+00,2.606032e+00,1.799299e+00,1.312935e+00,3.595917e+00,2.341968e+00

It is possible to disable either centering or scaling by either passing with_mean=False or with_std=False to the constructor of StandardScaler.

In [74]:
my_array_scaled = StandardScaler(with_mean=False).fit_transform(df)

In [12]:
# df_scaled = pd.DataFrame(my_array_scaled, columns = labels)
# df_scaled.describe()

### <br><span style="color:blue"> Practice
    
Center the data in my_array to mean 0 but disable scaling

In [13]:
my_array_scaled =

SyntaxError: invalid syntax (<ipython-input-13-04273877ff1e>, line 1)

In [14]:
# df_scaled = pd.DataFrame(my_array_scaled, columns = labels)
#df_scaled.describe()

## <br><span style="color:teal"> Scaling features to a range

Apart from standardization, we can scale features to lie between a given minimum and maximum value, often between zero and one. Range compression helps with robustness due to small standard deviations of features after scaling and at the same time preserves zero entries.

In [15]:
from sklearn.preprocessing import MinMaxScaler

### <br><span style="color:blue"> Practice
    
Apply the transform method to scale the features

In [16]:
my_array_scaled =

SyntaxError: invalid syntax (<ipython-input-16-44b44b0abfd8>, line 1)

In [17]:
# df_scaled = pd.DataFrame(my_array_scaled, columns = labels)
#df_scaled.describe()

## <br><span style="color:teal"> Normalization

This is the process of scaling individual samples to have unit norm. So far, we have scaled data by features i.e., calculations are applied on individual columns. Sometimes, we need to scale data across rows. For example, clustering requires normalization to calculate cosine similarity scores.

In [18]:
from sklearn.preprocessing import Normalizer

### <br><span style="color:blue"> Practice
    
Apply the transform method to scale the features

In [19]:
my_array_scaled =

SyntaxError: invalid syntax (<ipython-input-19-44b44b0abfd8>, line 1)

# <br><span style="color:purple"> Categorical data
Data sometimes come in non-numeric values in predictors and/or response.

In [20]:
df = pd.read_csv('datasets/breast_cancer.csv')
df.head()

,target,age,tumor-size,deg_malig,side,quad,irradiat
0,no-recurrence-events,30-39,30-34,3,left,left_low,no
1,no-recurrence-events,40-49,20-24,2,right,right_up,no
2,no-recurrence-events,40-49,20-24,2,left,left_low,no
3,no-recurrence-events,60-69,15-19,2,right,left_up,no
4,no-recurrence-events,40-49,0-4,2,right,right_low,no

## <br><span style="color:teal"> Ordinal encoding 

This is the process of assigning each unique category an integer value. Doing this, we impose a natural ordered relationship between each category.

In [21]:
from sklearn.preprocessing import OrdinalEncoder
df_transformed = df.copy()

We can fit the data to the encoder to get the labels and corresponding values.

In [22]:
enc_age = OrdinalEncoder().fit(df[["age"]])

In [23]:
enc_age.categories_

[array(['20-29', '30-39', '40-49', '50-59', '60-69', '70-79'], dtype=object)]

The OrdinalEncoder module automatically sorts the labels in the feature and assigns the numerical value from 0 to (n-1) with n being the number of unique labels. 

After fitting the data, we can transform the categorical values in age to numerical values.

In [24]:
df_transformed["age"] = enc_age.transform(df[["age"]])
df_transformed.head()

                 target  age tumor-size  deg_malig   side       quad irradiat
0  no-recurrence-events  1.0      30-34          3   left   left_low       no
1  no-recurrence-events  2.0      20-24          2  right   right_up       no
2  no-recurrence-events  2.0      20-24          2   left   left_low       no
3  no-recurrence-events  4.0      15-19          2  right    left_up       no
4  no-recurrence-events  2.0        0-4          2  right  right_low       no

### <br><span style="color:blue"> Practice
    
Encode tumor-size variable

In [25]:
# Fit the data to get labels
enc_size =

SyntaxError: invalid syntax (<ipython-input-25-1eb865774a9d>, line 2)

In [26]:
# Transform the values and assign the new values to the column tumor-size
df_transformed["tumor-size"] =

SyntaxError: invalid syntax (<ipython-input-26-e4985101b102>, line 2)

Encode irradiat variable

## <br><span style="color:teal"> One-hot encoding

When there is no natural ordinal relationship among different categories, OrdinalEncoder is not an appropriate approach.

In addition, when the response variable has no ordinal relationship, encoding its labels as ordered integer values can result in poor performance. For example, suppose we encode the response's labels as 0, 1, 2. The algorithm can return a prediction of 1.5.
  
One-hot encoding is the process of transforming each label of the orginal categorical variable into a new binary variable.

In [27]:
from sklearn.preprocessing import OneHotEncoder

In [28]:
enc_side = OneHotEncoder().fit(df[["side"]])

In [29]:
enc_side.categories_

[array(['left', 'right'], dtype=object)]

In [30]:
side_transformed = enc_side.transform(df[["side"]])
type(side_transformed)

scipy.sparse._csr.csr_matrix

Results from OneHotEncoder are saved as scipy sparse matrix format. We can obtain the actual values using the toarray() method.

In [31]:
df_transformed[enc_side.categories_[0]] = side_transformed.toarray()
df_transformed.head()

,target,age,tumor-size,deg_malig,side,quad,irradiat,left,right
0,no-recurrence-events,1.0,30-34,3,left,left_low,no,1.0,0.0
1,no-recurrence-events,2.0,20-24,2,right,right_up,no,0.0,1.0
2,no-recurrence-events,2.0,20-24,2,left,left_low,no,1.0,0.0
3,no-recurrence-events,4.0,15-19,2,right,left_up,no,0.0,1.0
4,no-recurrence-events,2.0,0-4,2,right,right_low,no,0.0,1.0

### <br><span style="color:blue"> Practice
    
Encode quad variable

In [32]:
enc_quad =

SyntaxError: invalid syntax (<ipython-input-32-a2b5d6b506ce>, line 1)

## <br><span style="color:teal"> Label encoding

In [33]:
# df = pd.read_csv('datasets/iris.csv')
# df

sklearn has a separate module to encode target variable.

In [34]:
from sklearn.preprocessing import LabelEncoder

In [35]:
le = LabelEncoder().fit(df['target'])

In [36]:
le.classes_

array(['no-recurrence-events', 'recurrence-events'], dtype=object)

In [37]:
target_transformed = le.transform(df['target'])

## <br><span style="color:teal"> Imputation of missing values
    
Sometimes, your data will have missing values (NaN).

In [38]:
df = pd.read_csv('datasets/iris_numeric.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width  target
0           5.1          3.5           1.4          0.2       0
1           4.9          3.0           1.4          0.2       0
2           4.7          3.2           1.3          0.2       0
3           4.6          3.1           1.5          0.2       0
4           5.0          NaN           1.4          0.2       0

Note that we use the dataset with transformed target labels here. If we apply sklearn transformer on the entire dataset and there are non-numeric values, Python will raise an error.

We can check if there is any missing value in the entire dataset

In [781]:
df.isna().values.any()

True

We can also check which columns contain missing values

In [782]:
df.isna().any()

sepal_length    False
sepal_width      True
petal_length     True
petal_width     False
target          False
dtype: bool

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   149 non-null    float64
 2   petal_length  149 non-null    float64
 3   petal_width   150 non-null    float64
 4   target        150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

We can get the specific rows with missing values

In [783]:
df[df.isna().any(axis=1)]

    sepal_length  sepal_width  petal_length  petal_width  target
4            5.0          NaN           1.4          0.2       0
10           5.4          3.7           NaN          0.2       0

There are several approaches to imputing missing values before building an estimator. We will explore the most simple approach which involves replacing the missing values with
- constant values
- statistics like mean, median, mode

In [784]:
from sklearn.impute import SimpleImputer

### <br><span style="color:teal"> Using a constant value

In [535]:
imp_const = SimpleImputer(missing_values=np.nan, strategy='constant', fill_value=0.).fit_transform(df)

In [536]:
df_transformed_const = pd.DataFrame(imp_const, columns=df.columns)
df_transformed_const.isna().any()

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
target          False
dtype: bool

In [537]:
df_transformed_const.loc[[4,10]]

    sepal_length  sepal_width  petal_length  petal_width  target
4            5.0          0.0           1.4          0.2     0.0
10           5.4          3.7           0.0          0.2     0.0

### <br><span style="color:teal"> Using a statistic

Using the mean of other values of the feature

In [538]:
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean').fit_transform(df)

In [539]:
df_transformed_mean = pd.DataFrame(imp_mean, columns=df.columns)
df_transformed_mean.isna().any()

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
target          False
dtype: bool

In [540]:
df_transformed_mean.loc[[4,10]]

    sepal_length  sepal_width  petal_length  petal_width  target
4            5.0     3.053691      1.400000          0.2     0.0
10           5.4     3.700000      3.773154          0.2     0.0

### <br><span style="color:blue"> Practice
    
Imputation by the median

In [ ]:
imp_median =